@import "./styles/typography";

:root {
  --bg-color: hsl(0, 0%, 98%); //Light Mode Background
  --font-color: hsl(200, 15%, 8%); //Light Mode Text
  --font-color-input: hsl(0, 0%, 52%); //Light Mode Input
  --bg-color-elements: hsl(0, 0%, 100%); //Light Mode Elements
}

/*========== Variables Dark theme ========= */
[data-theme="dark"] {
  --bg-color: hsl(207, 26%, 17%); //Dark Mode Background
  --font-color: hsl(0, 0%, 100%); //Dark Mode Tex
  --font-color-input: hsl(0, 0%, 52%); //Dark Mode Input
  --bg-color-elements: hsl(209, 23%, 22%); //Dark mode elements
  transition: 0.4s;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-homepage-items;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin-bottom: 40px;
  transition: 0.4s;
}

.theme__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.theme__toggler span {
  margin-left: 10px;
  font-weight: $font-weight-600;
}
